@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arima:wght@100..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Hachi+Maru+Pop&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yuji+Mai&display=swap');

@import url(reset.css);
@import url(style/cabecalho.css);
@import url(style/secoes.css);
@import url(style/navegacao.css);


html{
   font-size:  16px;
}
:root{
    --cor-de-fundo:  #FFFFFF;
    --cor-font-pinc: #464646;
    --fonte-principal: "Montserrat", serif;
    --cor-secundaria-fonte: #A3A3A3;
    --cor-fundo-secundaria: #ECECEC;
    --laranja: #FFB050;
    --azul-botao: #4894FF;
    --escurecer:rgba(0, 0, 0, 0.763);
}

body{
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-font-pinc);
    font-family: var( --fonte-principal);
}